<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

<body>
  <nav>
    <a href="/users">
      All Users
    </a>
    
    <a href="/photos">
      All Public Photos
    </a>
    
    <a href="/users/sign_in">
      Sign In
    </a>

    <a href="/users/sign_up">
      Sign Up
    </a>

    <a href="/users/sign_out">
      Sign Out
    </a>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
